.header {
    border: 1rem dotted black;
    border-radius: 25px;
    height: 300px;
    max-width: 472px;
}
.gallery {
    display: flex;
    flex-flow: column wrap;
    margin-left: -8px;
    max-height: 2500px;
    max-width: 472px;
  }
  .imagePanel {
    margin: 0 8px 8px 0;
    width: 48%;
    max-width: 236px;
  }
  .image {
    padding: 10px;
    border-radius: 25px;
    overflow: hidden;
    max-width: 236px;
  }
  img {
    width: 100%;
    border-radius: 25px;
  }
  @media (min-width: 768px) {
    .gallery {
        width: 100vw;
        max-height: 100vh;
    }
    .imagePanel {
        width: 236px;
    }
    .header{
        float: left;
        max-width: 236px;
    }
  }
